@import "./variables.scss";

.main {
    padding: 2rem;
}

.dash-tabs {
    display: flex;
}

.dash-tab {
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    background: #efefef;

    &.active {
        background-color: transparent;
        color: $primary-color;
        border-bottom: 3px solid $primary-color;
    }
}