@import "./variables.scss";

.profile-page {
    padding: 1rem;

    .logout-button {
        position: absolute;
        right: 1rem;
        @include primary-button;
    }

    section {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 6vh;
        padding: 2rem;
        position: relative;

        h4 {
            margin-bottom: .6rem;
        }
    }

    .edit-button {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: $primary-color;
        color: $white;
        font-size: 1.4rem;
        padding: .4rem;
        opacity: 1;
        border-radius: 50%;
        padding: 10px;
        transition: transform 150ms ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .pfp {
        margin: 0 auto;
        margin-top: 4rem;
        display: block;
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }
    
    .handles {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.8rem;
    
        .username {
            @include font-bold;
            color: $primary-color;
            padding-right: .6rem;
        }
    }

    .title {
        margin-top: .6rem;
        font-size: 1.4rem;
        text-align: center;
    }

    .about {
        margin-top: 2rem;
        text-align: center;

        p {
            display: inline-block;
            text-align: center;
        }
    }

    .skills {
        text-align: center;
        position: relative;

        .skill-tag {
            @include font-bold;
            font-size: 1.2rem;
            display: inline-block;
            background: $primary-color;
            color: $white;
            padding: .4rem .8rem;
            margin: 0px 10px;
        }
    }

    .links {
        text-align: center;

        a {
            margin: 1.6rem 0;
            display: block;
            font-size: 1.4rem;
            color: $primary-color;
        }
    }
}