@import "./variables.scss";

.profile-page {
    padding: 1rem;

    .logout-button {
        position: absolute;
        right: 1rem;
        @include primary-button;
    }

    section {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 6vh;
        padding: 2rem;
        position: relative;

        h4 {
            margin-bottom: .6rem;
        }
    }

    .edit-button {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: $primary-color;
        color: $white;
        font-size: 1.4rem;
        padding: .4rem;
        opacity: 1;
        border-radius: 50%;
        padding: 10px;
        transition: transform 150ms ease-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .save-button, .discard-button {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: $primary-color;
        color: $white;
        font-size: 1.4rem;
        padding: .4rem;
        opacity: 1;
        border-radius: 50%;
        padding: 10px;
        transition: transform 150ms ease-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .save-button {
        right: 4.8rem;
        background: darkgreen;
    }

    .discard-button {
        background-color: $black;
    }

    .pfp {
        margin: 0 auto;
        margin-top: 4rem;
        display: block;
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }
    
    .handles {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.8rem;
    
        .username {
            @include font-bold;
            color: $primary-color;
            padding-right: .6rem;
        }
    }

    .title {
        margin-top: .6rem;
        font-size: 1.4rem;
        text-align: center;
    }

    .about {
        margin-top: 2rem;
        text-align: center;

        p {
            line-break: anywhere;
            display: inline-block;
            text-align: center;
            text-align: left;
        }
    }

    .skills {
        text-align: center;
        position: relative;

        .skill-tag {
            @include font-bold;
            font-size: 1.2rem;
            display: inline-block;
            background: $primary-color;
            color: $white;
            padding: .4rem .8rem;
            margin: 0px 10px;
            margin-top: 1rem;
        }

        .skill-tag-removable {
            background: darken($white, 20%);
            color: $black;
            border: 1px solid transparent; 
            &:hover {
                text-decoration: line-through;
                background-color: $primary-color;
                color: $white;
                border: 1px solid $black;
                cursor: pointer;
            }
        }
    }

    .skill-select {
        margin-top: 1rem;
        width: 100%;

        input {
            padding: .4rem;
            width: 100%;
        }
        .suggestions {
            border: 1px solid darken($white, 20%);

            .suggestion {
                border-bottom: 1px solid darken($white, 20%);
                padding: .6rem 0;
                margin: 0;
                cursor: pointer;

                &:hover {
                    background: darken($white, 10%);
                }
            }

            // this is the loading animation
            div {
                margin: 0 auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
        
    }

    .links {
        text-align: center;

        .user-link {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.4rem;
            margin: 1.4rem 0;

            a {
                display: block;
                font-size: 1.4rem;
                color: $primary-color;
            }
        }

        .add-new-link-button {
            @include primary-button;
        }

        .edit-user-link {
            display: flex;
            justify-content: space-between;
            margin: 1.6rem 0;

            fieldset {
                text-align: left;
                width: 48%;
            }

            label {
                font-weight: bold;
                color: $primary-color;
            }

            input {
                font-size: 1rem;
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}